.bicicleta {
  height: 600px;
  background-color: red;
  background-image: url("./bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* background: red url("./bicicleta.jpg") no-repeat cover center top; */
  display: flex;
}

h1 {
  margin: auto;
  background-color: white;
}
